.App {
  background: $background-color;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}
