$background: linear-gradient(
  90deg,
  rgba(249, 240, 255, 1) 0%,
  rgba(230, 219, 237, 1) 50%,
  rgba(234, 231, 236, 1) 100%
);
$text-color: #140222;
$secondary-text-color: #594e62;
$light-text-color: #e1e1e1;
$main-color: #34144d;
$button-secondary-color: #ffc403;
$light-color: #fdf7ff;
$error-color: #ad040c;
$button-color: #34144d;
$secondary-color: #d7d7d7;
$border: 1px solid #34144d;
